@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "template.css";
.header
{
 min-height: 300px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,


#contact {
  background: #f5f5f5;
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
#contactBtn[type="submit"] {
  cursor: pointer;
  width: 100%;
  background: #137d74;
  color: #fff;
}

@media (max-width: 400px) {
  
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #137d74;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
  }

  #text-1 {
    text-align: center;
  }
  a.btn {
    display: flex;
    justify-content: center;
  }
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 80%;
    padding: 20%;
  }
}

@media (max-width: 600px) {
  .header {
    min-height: 200px;
  }
  label {
    display: block;
    cursor: pointer;
    padding-left: 15px;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #137d74;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }

  a.btn {
    display: flex;
    justify-content: center;
  }

  li {
    margin-right: 0;
  }
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  max-width: 60%;
  padding: 20%;
}
  
}
